.filter
    .form
        display: flex
        justify-content: space-between
        .form-control
            width: 26.5%
            &_price
                display: flex
                justify-content: space-between
                *
                    margin-top: auto
                    margin-bottom: auto
                .form__input
                    width: 38.3%

        .btn
            width: 14.7%