.header
    .menu-toggler
        display: none
        position: absolute
        top: 19px
        right: 22.5px
        cursor: pointer
        .menu-toggler-closed
            display: block
        .menu-toggler-openned
            display: none
    .logo
        display: flex
        text-decoration: none
        align-self: middle
        &__icon
            width: 33px
            height: 33px
            svg    
                width: 33px
                height: 33px

        &__title
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 22px
            color: #192934
            margin-top: auto
            margin-bottom: auto
            margin-left: 9px

    &-bar
        border-bottom: 1px solid #F4F6FC
        padding: 10px 0
        .col-cabinet
            text-align: right

    &-main
        padding: 11.5px 0
        .container
            position: relative
        .link-phone
            justify-content: flex-end
            height: 100%
        
    
    &-geo
        cursor: pointer
        &__name
            display: inline-flex
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 20px
            color: #303844
            padding-right: 20px
            position: relative
            transition: .3s ease
            &:after
                content: ''
                display: block
                position: absolute
                right: 0
                width: 13px
                height: 8px
                right: 0
                top: 50%
                margin-top: -4px
                background-repeat: no-repeat
                background-image: url(../images/dist/arrow.svg)

        &:hover
            .header
                &-geo
                    &__name
                        color: $accent


    &-enter
        display: inline-flex
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 20px
        color: #192934
        padding-right: 24px
        position: relative
        text-decoration: none
        transition: .3s ease
        &:after
            content: ''
            display: block
            position: absolute
            right: 0
            width: 19px
            height: 18px
            right: 0
            top: 50%
            margin-top: -9px
            background-repeat: no-repeat
            background-image: url(../images/dist/enter.svg)

        &:hover
            color: $accent


    &-menu
        height: 100%
        display: flex
        ul
            display: flex
            width: 100%
            justify-content: space-between
            padding: 0
            margin: auto 0
            li
                list-style-type: none
                a
                    font-style: normal
                    font-weight: 500
                    font-size: 15px
                    line-height: 18px
                    color: #192934
                    text-decoration: none
                    transition: .3s ease
                    &:hover
                        color: $accent

.menu-openned
    .menu-toggler
        .menu-toggler-closed
            display: none
        .menu-toggler-openned
            display: block

.mob-menu
    position: fixed
    width: 100%
    height: calc(100vh - 70px)
    top: 70px
    left: 0
    display: none
    z-index: 100
    background: rgba(255, 255, 255, 0.9)
    backdrop-filter: blur(10px)
    overflow: auto
    .header-geo
        margin-top: 48px
        margin-bottom: 32px
    .header-geo__name
        margin-top: 0
        font-size: 22px
    .header-enter
        font-size: 22px

    &-container
        padding-top: 60px
        padding-bottom: 60px
    &-nav
        margin-top: 48px
        ul
            margin: 0
            padding: 0
            li
                list-style-type: none
                margin-bottom: 32px
                &:last-child
                    margin-bottom: 0
                a
                    text-decoration: none
                    font-style: normal
                    font-weight: 500
                    font-size: 22px
                    line-height: 1.23
                    color: #192934

+media-breakpoint-down(xl)
    .header-menu ul li a
        font-size: 14px
+media-breakpoint-down(lg)
    .menu-openned
        .mob-menu
            display: block
    .header
        height: 70px
        position: fixed
        z-index: 100
        top: 0
        left: 0
        width: 100%
        background-color: #fff
        box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.33)
        &-main
            padding-top: 0
            padding-bottom: 0
        &-bar
            display: none
        .link-phone
            display: none
        &-menu
            display: none

        .menu-toggler
            display: block

        .logo
            width: 49px
            height: 49px
            margin-top: 10.5px
            margin-left: 12.5px
            &__icon
                width: 49px
                height: 49px
                svg    
                    width: 49px
                    height: 49px

            &__title
                display: none
    