@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'

.carousel
    display: flex

.section-catalog-header
    padding-top: 164px
    padding-bottom: 40px
    background-repeat: no-repeat
    background-position: center
    background-image: url(../images/dist/bg-catalog.jpg)
    background-size: cover
    .carousel
        margin-top: 32px
    .block-round-out
        overflow: hidden

.section-journal
    padding: 40px 0
    .heading
        margin-bottom: 32px

    .journal-preview
        margin-bottom: 24px
        &__img
            img
                max-width: 100%
                height: auto
                border-radius: 10px

        &__title
            margin-top: 16px
            font-style: normal
            font-weight: 600
            font-size: 18px
            line-height: 120%
            color: #192934
            a
                color: #192934
                transition: .3s ease
                text-decoration: none
                &:hover
                    color: $accent

+media-breakpoint-down(lg)
    .section-journal 
        .journal 
            .heading-sm
                margin-top: 60px


.section-popular
    padding-top: 80px
    padding-bottom: 120px
    .heading
        margin-bottom: 32px

.section-lists
    padding-top: 20px
    padding-bottom: 40px
    .heading
        margin-bottom: 16px
    .block-round
        margin-top: 20px
    .list
        margin: 0
        padding: 0
        li
            width: 100%
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #192934
            margin-bottom: 8px
            list-style: none 
            &:last-child
                margin-bottom: 0
            a
                width: 100%
                display: flex
                justify-content: space-between
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 130%
                color: #192934
                text-decoration: none
                transition: .3s ease
                &:hover
                    color: $accent


.section-best
    padding-top: 80px
    padding-bottom: 40px
    .block-round-out
        overflow: hidden
    .carousel
        margin-top: 32px
        &__item
            width: 463px
            border-radius: 20px
        .card
            margin-bottom: 0

        .swiper-button-prev, .swiper-button-next
            margin-top: 0
            top: 110px
        
.section-best_promo
    .carousel
        overflow: hidden

    .swiper-button-prev
        left: 20px
    .swiper-button-next
        right: 20px

+media-breakpoint-down(lg)
    .section-best
        .carousel
            &__item
                width: 333px

+media-breakpoint-down(sm)
    .section-best
        .carousel
            &__item
                width: 280px

.section-offers
    padding-top: 40px
    padding-bottom: 40px
    .block-round-out
        overflow: hidden
    .heading
        margin-bottom: 16px
    .carousel_features
        margin-top: 32px

.section-banner
    padding-top: 40px
    padding-bottom: 80px


.section-btns
    padding-top: 24px
    padding-bottom: 40px
    .btns
        display: flex
        flex-wrap: wrap
        .btn-icon
            margin-right: 10px
        .btn-icon_map
            margin-left: auto
            margin-right: 0


.section-catalog
    margin-top: 40px
    padding-bottom: 60px
    .pagination
        margin-top: 0

.section-same
    padding-top: 40px
    .heading
        margin-bottom: 32px

.section-favorites
    .heading
        margin-bottom: 32px
  
    .row-empty
        text-align: center
        
        .heading
            margin-bottom: 10px
        p
            margin-bottom: 0
        .btn
            margin-top: 30px
            width: 280px
    .col-fav
        margin-bottom: 40px

    .empty-content
        display: flex
        height: 50vh
        flex-direction: column
.section-catalog-single
    .text
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 130%
        color: #192934
    .icon-item
        margin-bottom: 40px
    .opeka-logo
        margin-bottom: 16px
    .btn
        width: 100%
    .col-side
        .feature
            margin-top: 16px
        .block-round
            margin-bottom: 20px
        .heading-sm
            color: #192934
            a
                text-decoration: none
                color: #192934
                transition: .3s ease
                &:hover
                    color: $accent

        .card__rating
            margin-top: 8px
        .btn
            margin-top: 16px
            margin-bottom: 16px

.section-blog-funcs
    margin-bottom: 40px
    .blog-funcs
        .form
            display: flex
            justify-content: space-between
            .btn
                width: 14.64%
            .form-control
                width: 28%
            .form-control_search
                width: 54%

            .form__input
                width: 100%

.section-blog
    .col-item
        margin-bottom: 20px
    .pagination
        margin-top: 40px
        margin-bottom: 60px

.section-blog_single
    .heading
        margin-bottom: 1.25em

.section-blog-single
    margin-bottom: 80px
    .block-round
        padding-top: 20px

.section-promo-adv
    .heading
        margin-bottom: 16px    
    .grey-block
        margin-bottom: 32px

.section-order
    padding-bottom: 120px
    .heading
        margin-bottom: 16px

    .form__text
        margin-top: 20px

    .btn
        margin-top: 30px
        width: 260px

.section-interactive-map
    padding: 80px 0
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-image: url(../images/dist/main-bg.jpg)
    background-attachment: fixed
    .heading
        margin-bottom: 30px

.section-journal-new
    .heading
        margin-bottom: 30px

.journal-and-lists
    padding-top: 40px
    .section-lists
        padding-top: 60px

.section-popular-new
    padding-top: 40px
    padding-bottom: 40px
    .heading
        margin-bottom: 30px

.section-blog-list
    padding-top: 80px
    padding-bottom: 40px
    .heading
        margin-bottom: 30px

.section-map
    height: calc(100vh - 103.4px - 40px)
    position: relative
    overflow: hidden
    margin-top: 40px
    display: none
    .pansions-container
        position: absolute
        width: 367px
        top: 0
        left: 20px
        height: 100%
        overflow-y: auto
        .card
            margin-bottom: 20px
    .map-container
        position: absolute
        top: 0
        right: 0
        height: 100%
        width: calc(100% - 367px - 20px - 20px)
        

.map-catalog-openned
    .section-catalog
        display: none
    .section-map
        display: block


// Media
+media-breakpoint-down(lg)
    body
        padding-top: 70px
    .section-catalog-header
        padding-top: 0
        padding-bottom: 80px
        display: flex
        height: calc(100vh - 70px)
        .container
            margin-top: auto

    .section-popular
        padding-bottom: 80px

    .section-journal
        .journal-preview
            margin-top: 30px
            &:last-child
                margin-bottom: 0

    .section-btns
        .btns

            .btn-icon_map
                margin-left: 0

    .section-blog-funcs
        .blog-funcs
            .form
                flex-direction: column
                .btn
                    width: 100%
                .form-control
                    margin-bottom: 20px
                    width: 100%

                .form-control_search
                    width: 100%

    .section-order
        .form
            margin-top: 30px
+media-breakpoint-down(md)
    .section-btns
        .btns
            .btn-icon
                margin-bottom: 10px


    .section-catalog-single
        .icon-item
            margin-bottom: 20px


    .section-promo-adv
        .col-n2
            margin-top: 30px

    .section-order
        padding-bottom: 80px
        .form__text
            margin-top: 0
        .form__input
            margin-bottom: 20px

    